{% extends 'home/bases/tutorial-base.html' %}

{% block list_item %}
<ul>

    <li>hello</li>
</ul>
{% endblock %}

{% block content %}
<div class="contenta">
    <div class="title">
        <h2>مقدمة في البرمجة</h2>
    </div>
    <div class="list-content">
        <p>ماذا ستتعلم من هذه الدورة</p>
        <ul>
            <a href="#">
                <li>مقدمة في الخورزميات -</li>
            </a>
            <a href="#">
                <li>مقدمة في الخورزميات -</li>
            </a>
            <a href="#">
                <li>مقدمة في الخورزميات -</li>
            </a>
        </ul>
    </div>
    <h3>مقدمة</h3>
    <p>
        البرمجة (بالإنجليزيّة: Programming) هي العمليّة التي يقوم فيها المُبرمِج بكتابة شيفرة (بالإنجليزيّة: Code)،
        والتي تتمثَّل بمجموعة من الأوامر، والتي بدورها تُنفَّذ على الأجهزة الحاسوبيّة. لغة البرمجة (بالإنجليزيّة:
        Programming Language) هي عبارة عن لغة خاصّة يتم استخدامها من قِبَل المُبرمجين لكتابة البرمجيّات، أو النصوص
        (بالإنجليزيّة: Scripts)، أو مجموعة أخرى من الأوامر، ليتم تنفيذها على جهاز الحاسوب.
    </p>

    <div class='code-area'>
        <pre>
<span class="key-word">def </span><span class="function-name">hello</span>():
    <span class="function-name">print</span>('hi')


<span class="key-word">class </span>Riko:
    <span class="key-word">def </span><span class="function-name">__str__</span>(self):
        <span class="function-name">print</span>('hello world')


<span class="key-word">f<span class="key-word">or </span></span>i <span class="key-word">in </span><span class="function-name">range</span>(100):
    <span class="function-name">priddddddddddddddddddddddddddddddddddddddddddddddddnt</span>('hello world')
    </pre>
    </div>
    <h3>مقدمة</h3>
    <p>
        البرمجة (بالإنجليزيّة: Programming) هي العمليّة التي يقوم فيها المُبرمِج بكتابة شيفرة (بالإنجليزيّة: Code)،
        والتي تتمثَّل بمجموعة من الأوامر، والتي بدورها تُنفَّذ على الأجهزة الحاسوبيّة. لغة البرمجة (بالإنجليزيّة:
        Programming Language) هي عبارة عن لغة خاصّة يتم استخدامها من قِبَل المُبرمجين لكتابة البرمجيّات، أو النصوص
        (بالإنجليزيّة: Scripts)، أو مجموعة أخرى من الأوامر، ليتم تنفيذها على جهاز الحاسوب.
    </p>
    <h3>مقدمة</h3>
    <p>
        البرمجة (بالإنجليزيّة: Programming) هي العمليّة التي يقوم فيها المُبرمِج بكتابة شيفرة (بالإنجليزيّة: Code)،
        والتي تتمثَّل بمجموعة من الأوامر، والتي بدورها تُنفَّذ على الأجهزة الحاسوبيّة. لغة البرمجة (بالإنجليزيّة:
        Programming Language) هي عبارة عن لغة خاصّة يتم استخدامها من قِبَل المُبرمجين لكتابة البرمجيّات، أو النصوص
        (بالإنجليزيّة: Scripts)، أو مجموعة أخرى من الأوامر، ليتم تنفيذها على جهاز الحاسوب.
    </p>
</div>
{% endblock %}