
{% extends 'home/bases/base.html' %}
{% load static %}

{% block content %}
   
  <div class="my-bio-content ">
    <div class="my-image-area">
      <img src="{% static 'home/images/person.jpg' %}">
    </div>
    <div class="text-area">
      <h3>Hi i am Tarek Berkane</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat ex sed ligula varius porttitor. Sed vel
        tellus erat. Nam vel tellus non augue porttitor euismod non vel ipsum. Sed nisi tortor, porta nec tristique vel,
        sagittis id purus. Donec sit amet turpis vitae velit ultrices rutrum. Quisque quis nisl magna. Nulla viverra
        bibendum rutrum. Vestibulum non nibh felis. Suspendisse sed interdum enim. Mauris ullamcorper dolor nisl, auctor
        molestie diam posuere ut. Suspendisse vulputate sodales lacus, at scelerisque lacus ultricies ac. Donec tempus,
        turpis quis egestas congue, risus tortor dictum lectus, id placerat arcu magna vel enim.
      </p>
      <p>

        Vestibulum id erat bibendum, dictum nulla quis, scelerisque metus. Aliquam sed auctor libero. Aenean eros nulla,
        consectetur vel est nec, laoreet suscipit ligula. Fusce nec purus odio. Maecenas a sodales metus. Donec finibus,
        tellus eget dignissim fermentum, nunc velit pulvinar quam, ut dapibus justo nunc id odio. Morbi augue sem,
        mattis eget sem in, porta rhoncus dui. Nam interdum dui mauris, in sollicitudin dolor blandit in. Duis pharetra
        a orci eu fringilla. Proin viverra auctor velit, non consequat eros vulputate in. In laoreet venenatis ante ut
        varius. Integer a diam nibh. Nulla sem orci, ultricies ut dui nec, vulputate posuere erat. Sed posuere quam
        sagittis justo auctor feugiat. Aenean nec nunc felis. Nunc egestas felis vitae ex rutrum, vel efficitur enim
        bibendum.


      </p>
    </div>
    <div class="social-link-area">
      <div class="social-link-item">
        <a href="#">
          <img src="{% static 'home/images/facebook.png' %}"" alt="facebook link">
        </a>
      </div>
      <div class="social-link-item">
        <a href="#">
          <img src="{% static 'home/images/instagram.png' %}" alt="facebook link">
        </a>
      </div>
      <div class="social-link-item">
        <a href="#">
          <img src="{% static 'home/images/twitter.png' %}" alt="facebook link">
        </a>
      </div>
      <div class="social-link-item">
        <a href="#">
          <img src="{% static 'home/images/linkedin.png' %}" alt="facebook link">
        </a>
      </div>
    </div>
  </div>


{%endblock%}