{% extends 'home/bases/base.html' %}
{% block content %}
{% load static  %}
{% static 'home/images/card-image' as path%}


<div class="body-content ">
    <div class="title-text">
        programming languages
    </div>
    <div class="row">
        {% for card in languages%}
        <div class="  col-xl-4 col-lg-6 col-md-12  row-item-card">
            <div class="card-course ">
                <div class="image-card-course">
                    <img src="{{path}}/{{card.name}}-card-image.png" alt="{{card.name}}">
                </div>
                <div class="tag-area-course">
                    {% for tag in card.tags.all %}
                    <a href="#"> <span class="badge " style="background-color: yellow;">{{tag.tag_name}}</span></a>
                    {% endfor %}
                </div>
                <div class="text-card-course">
                    <a href="#">Start learn {{card.name}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="title-text">
        framework
    </div>
    <div class="row">
        {% for card in framework%}
        <div class="col-xl-4 col-lg-6 col-md-12 row-item-card">
            <div class="card-course ">
                <div class="image-card-course">
                    <img src="{{path}}/{{card.name}}-card-image.png" alt="">
                </div>
                <div class="tag-area-course">
                    {% for tag in card.tags.all %}
                    <a href="#"> <span class="badge " style="background-color: yellow;">{{tag.tag_name}}</span></a>
                    {% endfor %}
                </div>
                <div class="text-card-course">
                    <a href="#">Start learn {{card.name}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="title-text">
        Libraries
    </div>
    <div class="row">
        {% for card in libraries%}
        <div class="col-xl-4 col-lg-6 col-md-12 row-item-card">
            <div class="card-course ">
                <div class="image-card-course">
                    <img src="{{path}}/{{card.name}}-card-image.png" alt="">
                </div>
                <div class="tag-area-course">
                    {% for tag in card.tags.all %}
                    <a href="#"> <span class="badge " style="background-color: yellow;">{{tag.tag_name}}</span></a>
                    {% endfor %}
                </div>
                <div class="text-card-course">
                    <a href="#">Start learn {{card.name}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}