{% extends 'home/bases/base.html' %}

{% block content %}
{% load static  %}
{% load i18n %}

<div class="head-text">
  
    <p>
        Welcome to the archive. Here you’ll find thousands of pages of life advice on personal values, emotional
        intelligence, relationships, finding purpose, and much more. You can browse the archive based on category
        below. Also, everything published on the site is listed in reverse chronological order. Enjoy.
    </p>
</div>


<div class="article-area">
    <h3>New Courses</h3>
    <p>Nothing yet ...</p>
</div>



<div class="article-area">
    <h3>New Articles</h3>
    <p>Nothing yet ...</p>
</div>

<div class="project-area">
    <h3>New Projects</h3>
    <div class="row project-cards">
        <div class="card-area-position col-lg-4 col-md-6 col-sm-12">
            <div class=" my-card">
                <img src="{% static 'home/images/python.png' %}" alt="">
                <p>Django app</p>
                <a href="#"><img src="{% static 'home/images/github-image.png' %}" alt=""></a>

            </div>
        </div>
        <div class="card-area-position col-lg-4 col-md-6 col-sm-12">

            <div class="my-card">
                <img src="{% static 'home/images/android.png' %}" alt="">
                <p>moadly app</p>
                <a href="#"><img src="{% static 'home/images/github-image.png' %}" alt=""></a>

            </div>
        </div>
        <div class="card-area-position col-lg-4 col-md-6 col-sm-12">

            <div class="my-card">
                <img src="{% static 'home/images/javascript.png' %}" alt="">
                <p>Algorith visulsations</p>
                <a href="#"><img src="{% static 'home/images/github-image.png' %}" alt=""></a>
            </div>
        </div>
    </div>
</div>


<div class="card-bio">
    <img src="{% static 'home/images/person.jpg' %}">
    <div class="social-link-icons">
        <a href="#"><img src="{% static 'home/images/facebook.png' %}" alt=""></a>
        <a href="#"><img src="{% static 'home/images/linkedin.png' %}" alt=""></a>
        <a href="#"><img src="{% static 'home/images/instagram.png' %}" alt=""></a>
        <a href="#"><img src="{% static 'home/images/twitter.png' %}" alt=""></a>
    </div>
    <div class="text-content">
        <h3>About Author</h3>
        <p>Berkane Tarek</p>
        <p>20 years old</p>
        <p>Computer Science</p>
        <p>&</p>
        <p class="mmmi">Mobile Devloper</p>
    </div>
</div>

<footer>
    <div class="footer-container  container-fluid bg-dark text-white">
    </div>
</footer>

{% endblock %}