
body{
}

.head-text{
    
    height: auto;
   max-width: 900px;
   padding: 0 20px;
    margin: 50px auto;
    text-align: center;
}

.head-text p{
    font-size: 1.4rem;
}



.article-area{
    padding: 50px;
    margin: 100px auto;
    height: auto;
    text-align: center;
    font-size: 1.1rem;
}

.project-area{
    height: auto;
    margin: 100px auto;
    padding: 0  ;
    text-align: center;
    width: 100%;
}

.project-area p{
    margin: 50px 0;
    text-align: center;
    font-size: 1.1rem;
}




.project-cards{
    height: auto;
    margin-top: 30px ;
    width: 100%;
    transition: 0.5s;
}



.card-area-position{
    height: auto;
    margin: 20px auto;
    transition: 0.5s;
}

.my-card{
    position: relative;
    top :0;
    text-align: center ;
    margin: 0 auto;
    height: auto;
    width: 280px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(197, 197, 197);
    border-radius: 3%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(165, 165, 165);
    transition: 0.5s;

}

.my-card:hover{
    background-color: rgb(240, 240, 240);
    top: -8px;
}

.my-card p{
    margin: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

.my-card img{
    margin-top: 10px;
    overflow: hidden;
    object-fit: contain;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.my-card a{
    display: inline;
    margin: 0px;
    padding: 0px;
}

.my-card a img{
    padding: 0px;
    margin: 10px;
    overflow: hidden;
    object-fit: contain;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.my-card a img:hover{
    background-color: rgb(38, 148, 221);
}

.footer-container{
    bottom: 0px;
    height: 50px;
}


.card-bio{
    margin:50px auto;
    height: 600px;
    max-width:420px;
    overflow: hidden;
    text-align: center ;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(197, 197, 197);
    border-radius: 3%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(165, 165, 165);
    
}

.card-bio > img{
    object-fit: cover;
    margin: 20px 0;
    width: 170px;
    height: 170px;
    border: solid;
    border-radius: 50%;
    border-color: rgb(71, 143, 236);
    border-radius: 50%;
}


.social-link-icons{
    height: auto;
    width: 100%;
}

.social-link-icons img{
    width: 50px;
    height: 50px;
    margin: 20px auto;
    transition: 0.5s;
}


.social-link-icons a:hover img{
    width: 60px;
    height: 60px;
}
.card-bio p{
    font-size: 1.3rem;

}


@media (min-width:1200px){
    .project-cards{
        padding: 0 10%;
    }

}
