/* Globale */

body {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
}

.navbar-text-color {
    color: black;
    /* font-family: 'Baloo 2', cursive; */
    font-family: 'Changa', sans-serif;
    font-size: 1.2em;
    /* background-color: black; */
    /* background: black; */
    /* float: right; */
}

#collapsibleNavbar {
    margin: 0px;
    padding: 0px;
}

.current-link {
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: 3px;
    border-bottom-color: rgb(138, 138, 138);
    ;
}

.nav-item {
    text-align: center;
}

.languge-select {
    overflow: hidden;
    width: 30px;
    z-index: 1;
}

.dropdown-area {
    padding-right: 20px;
}

.nav-item {
    text-align: right;
}

.dropdown-menu div {
    text-align: right;
}

/***************************************************************/

.my-bio-content {
    /* padding: 40px 100px; */
    overflow: hidden;
    height: auto;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 30px 12%;
}

.my-image-area {
    margin-top: 100px;
    float: right;
    width: 200px;
    height: 200px;
    /* overflow: hidden; */
}

.my-image-area>img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(33, 158, 231);
    border-width: 4px;
    object-fit: cover;
}

.text-area {
    padding: 0 25px;
    font-family: 'Open Sans', sans-serif;
    height: auto;
    float: left;
    width: 75%;
}

.text-area>h3 {
    text-align: center;
}

.text-area>p {
    width: auto;
    padding: 10px;
    font-size: 20px;
}

.social-link-area {
    margin-top: 20px;
    width: 200px;
    height: 300px;
    float: right;
    text-align: center;
}

.social-link-item {
    margin: 10px 0px;
}

.social-link-item>a>img {
    width: 50px;
}

.social-link-item>a>img:hover {
    width: 60px;
    transition-timing-function: linear;
    transition: 0.5s;
}

.project-area {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

.title-projects {
    margin-top: 10px;
    padding: 30px 120px;
    height: 40px;
    width: 100%;
    font-size: 22px;
    text-align: center;
}

.project-show-area {
    height: auto;
    padding: 0 80px;
    overflow: hidden;
    /* align-items: center; */
}

.project-show-area .card {
    overflow: hidden;
    position: relative;
    height: 500px;
    top: 0;
    margin: 30px auto;
    max-width: 320px;
    transition: 0.5s;
}

.card .text-area {
    width: 100%;
    position: absolute;
    top: 120%;
    left: 0;
    transition: 0.5s;
    background-color: rgb(109, 106, 106);
}

.card:hover .text-area {
    top: 50%;
}

.card:hover {
    top: -10px;
    box-shadow: 2px 2px 10px rgb(189, 189, 189);
}

.card .text-area h4 {
    color: white;
    text-transform: uppercase;
}

.card .text-area p {
    font-size: 15px;
}

.card-body {
    padding: 0;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.card-body img {
    object-fit: cover;
}

.link-other-projects {
    padding: 12px;
    justify-content: center;
    text-align: center;
}

.link-other-projects a {
    margin-top: 20px;
    font-size: 20px;
}

/* card course contnet  */

.title-text {
    margin: 40px;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.body-content {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
}

.row-item-card {
    margin: auto;
}

.card-course {
    position: relative;
    top: 0;
    opacity: 0.9;
    margin: 20px auto;
    height: 340px;
    width: 380px;
    border-radius: 3%;
    background-color: rgb(228, 228, 228);
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 2px 10px rgb(168, 168, 168);
    transition: 0.5s;
}

.card-course:hover {
    top: -10px;
    opacity: 1;
    box-shadow: 2px 2px 10px rgb(86, 129, 248);
}

.image-card-course {
    height: 210px;
    text-align: center;
    overflow: hidden;
}

.image-card-course img {
    height: 210px;
    width: 380px;
    object-fit: cover;
    overflow: hidden;
}

.text-card-course {
    margin-top: 21px 0;
}

.text-card-course a {
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
}

.tag-area-course {
    text-align: start;
    margin: 20px 10px;
}

.tag-area-course span {
    color: #000;
    background-color: rgb(18, 179, 18);
    font-size: 1.2rem;
}

.tag-area-course span a {
    color: black;
}

.footer-container {
    bottom: 0px;
    height: 50px;
}

/* tutorial area */

.slide-bar-area.active {
    text-align: right;
    position: relative;
    float: right;
    right: 0px;
    width: 250px;
    height: 900px;
    background-color: rgb(163, 163, 163);
    transition: 0.5s;
}

.slide-bar-area {
    text-align: right;
    position: relative;
    float: right;
    right: -250px;
    width: 0px;
    height: 1000px;
    background-color: rgb(163, 163, 163);
    transition: 0.5s;
    border-style: solid;
    border-width: 0 0 0 2px;
    border-color: rgb(88, 88, 88);
}

.tutorial-area.active {
    margin: 0;
    transition: 0.5s;
}

.slide-bar-area ul {
    list-style: none;
    padding: 0px;
}

.slide-bar-area li {
    list-style: none;
    margin: auto;
    padding: 10px 10px 10px 0;
}

.slide-bar-area li:hover {
    background-color: rgb(121, 121, 121);
}

.tutorial-area {
    margin: 0 250px 0 0;
    max-width: 100%;
    height: auto;
    transition: 0.5s;
}

.tutorial {
    margin: 20px 30px;
    max-width: 100%;
    height: auto;
    padding: 20px 20px;
    background-color: white;
    border-radius: 1%;
    text-align: right;
    /* overflow: hidden; */
}

/* responsive secreen area */

@media (max-width: 1200px) {
    .my-bio-content {
        height: auto;
    }
    .my-image-area {
        margin: 0px;
        padding: 0px;
        text-align: center;
        margin-bottom: 0px;
        width: 100%;
        height: auto;
        float: none;
    }
    .text-area {
        margin-top: 30px;
        float: none;
        width: 100%;
        height: auto;
    }
    .text-area p {
        font-size: 1em;
    }
    .social-link-area {
        float: none;
        width: 100%;
    }
    .social-link-item {
        float: right;
        width: 25%;
    }
}

@media (max-width: 768px) {
    .slide-bar-area.active {
        position: absolute;
        right: -250px;
        width: 0px;
        z-index: 100;
    }
    .slide-bar-area {
        position: absolute;
        width: 250px;
        right: 0px;
        z-index: 100;
    }
    .tutorial-area.active {
        margin: 0;
        transition: 0.5s;
    }
    .tutorial-area {
        margin: 0;
    }
    .tutorial {
        margin: 20px 0px;
        max-width: 100%;
        padding: 5px 15px;
    }
}