
.contenta{
    font-family: 'Changa', sans-serif;
    max-width: 100%;
    /* background-color: rebeccapurple; */
    text-align: end;
    /* margin: 20px 150px; */
    padding: 0 40px;
    /* background-color: white;
    height: auto;
    text-align: right; */
    /* border-radius: 20px; */
}

h2 , h3{
    /* font-size: 1.4rem; */
    text-decoration: underline;
}


.list-content{
    background-color: rgb(158, 157, 157);
    padding: 10px 20px;
    border-radius: 10px;
}

.list-content ul{
    list-style: none;
}

.list-content li{
    padding: 5px;
}

.list-content a{
    color: black;
    text-decoration: none;
}



.list-content li:hover{
    background-color: rgb(75, 75, 75);
}

/* code area */
.code-area{
    /* margin: 20px 0; */
    background-color: gainsboro;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    font-size: 1.0rem;
}

p{
    font-family: 'Almarai', sans-serif;
    /* letter-spacing: 3px; */
    line-height: 2;
}

.function{
    color: rgb(0, 57, 95);
}

.function-name{
    color: rgb(0, 128, 75);
}

.key-word{
    color: rgb(130, 11, 248);
}

@media (max-width : 900px){
    .contenta{
        padding: 10px 10px;
    }
    }