{% load static  %}

{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/main2.css' %}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


  <title>Dev test</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm  bg-light  ">
    <!-- Brand -->
    {% get_current_language as lang%} 
   
    <!-- <a class="navbar-brand navbar-text-color" href="{% url 'home' %}">Tarek Berkane</a> -->
    <a class="navbar-brand navbar-text-color" href="{% url 'home' %}"> {{lang}}</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler navbar-light " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon  navbar-light "></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <ul class="navbar-nav  ml-auto ">
        <li class="nav-item {% if pageName == 'home' %}current-link{% endif %}">
          <a class="nav-link navbar-text-color " href="{% url 'home' %}">{% trans "home" %}</a>
        </li>
        <li class="nav-item {% if pageName == 'courses' %}current-link{% endif %}">
          <a class="nav-link navbar-text-color" href="{% url 'courses' %}">{% trans "courses"%}</a>
        </li>
       
        <li class="nav-item {% if pageName == 'about' %}current-link{% endif %}">
          <a class="nav-link navbar-text-color" href="{% url 'about' %}">{% trans "About" %}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle  navbar-text-color" data-toggle="dropdown" href="#">{{lang}}</a>
          <div class="dropdown-menu dropdown-menu-right">
             <div> <a class="dropdown-item " href="{% url 'action' 'en' %}">english</a></div>
              <div> <a class="dropdown-item" href="{% url 'action' 'ar' %}">arabic</a></div>
          </div>
      </li>
      </ul>
    </div>
  </nav>

{% block content %}

{% endblock %}

<footer>
  <div class="footer-container  container-fluid bg-dark text-white" >
    
  </div>
</footer> 
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>