{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/tutorial.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">


    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand  bg-light  " id='navbar'>
        <!-- Brand/logo -->
        <a class="navbar-brand navbar-text-color" href="#">Tarek Berkane</a>
        
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link  navbar-text-color" href="#">الرئيسية</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle  navbar-text-color" data-toggle="dropdown" href="#">القائمة</a>
                <div class="dropdown-menu dropdown-menu-right">
                   <div> <a class="dropdown-item " href="#">نمبتل</a></div>
                    <div> <a class="dropdown-item" href="#">Link 2</a></div>
                    <div> <a class="dropdown-item" href="#">Link 3</a></div>
                </div>
            </li>
            <li class="nav-item">
                <a href class="btn btn-secondary" data-toggle="sidebar"> <i class="fas fa-bars"></i></a>
            </li>
        </ul>
    </nav>

    <div class="body-content">
        <div id='slide-bar' class="slide-bar-area active">
            <!-- put list item here -->
            {% block list_item %}
            
            {% endblock %}
          
        </div>
        <div id='contet-area' class="tutorial-area">
           <div class="tutorial ">
            <!-- put text content here -->
            {% block content %}
            {% endblock %}
           </div>   
        </div>
    </div>
    <footer>
        <div class="footer-container  container-fluid bg-dark text-white">
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    
    <script>
        $('[data-toggle="sidebar"]').click(function (e) {
            e.preventDefault();
            $("#slide-bar").toggleClass("active"); 
            $("#contet-area").toggleClass("active"); 
        });
    </script>
    <script>
        function changeTh(id) {
            id.innerHTML = 'you clikc me';
        }
    </script>
</body>

</html>